.login-container {
  text-align: center;
}

.login-content {
  background: #fff;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
  border-radius: 2px;
  width: 500px;
  display: inline-block;
  margin-top: 30px;
  vertical-align: middle;
  position: relative;
  padding: 35px;
}

.oauth-login {
  display: inline-block;
}

.social-btn {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
}

.social-btn img {
  height: 32px;
  float: left;
  margin-top: 10px;
}

.social-btn.google {
  margin-top: 7px;
}

.social-btn.facebook img {
  height: 24px;
  margin-left: 3px;
}

.social-btn.github img {
  height: 24px;
  margin-left: 3px;
}

.signup-link {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
}

.login-title {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.65);
}

.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-control {
  margin-top: 10px;
  border: 0.1rem solid rgba(0, 0, 0, 0.65);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.form-button {
  margin: 5px 0 5px 0;
  width: 100px;
  height: 30px;
  border: 0.1rem solid rgba(0, 0, 0, 0.65);
}
